<!DOCTYPE html>
<!--[if lt IE 8]>         <html class="no-js lt-ie8"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>HRMS</title>
        <meta name="description" content="Responsive Admin Web App">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

        <link href="http://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="styles/fullCalendar.css"/>
		<link rel="stylesheet" href="styles/calendarDemo.css"/>
        <!-- Needs images, font... therefore can not be part of main.css -->
        <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="bower_components/weather-icons/css/weather-icons.min.css">
        <!-- end Needs images -->

            
        <link rel="stylesheet" href="styles/main.css"/>
		
    </head>
    <body data-ng-app="app" id="app" class="app" data-custom-page="" data-off-canvas-nav="" data-ng-controller="AppCtrl" data-ng-class=" {'layout-boxed': admin.layout === 'boxed' } ">
        <!--[if lt IE 9]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <section data-ng-include=" 'views/header.html' " id="header" class="header-container" data-ng-class=" {'header-fixed': admin.fixedHeader} " data-ng-controller="HeaderCtrl"></section>

        <div class="main-container">
            <aside data-ng-include=" 'views/nav.html' " id="nav-container" class="nav-container nav-horizontal" data-ng-class=" {'nav-fixed': admin.fixedSidebar, 'nav-horizontal': admin.menu === 'horizontal', 'nav-vertical': admin.menu === 'vertical'}">
            </aside>

            <section data-ng-view="" id="content" class="content-container {{admin.pageTransition.class}}"></section>
        </div>
		<script src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script src="scripts/vendor.js"></script>

        <script src="scripts/ui.js"></script>
		<script src="scripts/mask.js"></script>
		<script src="scripts/app.controllers.js"></script>
		<script src="scripts/app.localization.js"></script>
		<script src="scripts/app.task.js"></script>	
		<script src="scripts/app.directives.js"></script>
		<script src="scripts/app.nav.js"></script>
		<script src="scripts/ng-file-upload.js"></script>
		<script src="scripts/app.page.ctrls.js"></script>
		<script src="scripts/org/app.form.org.js"></script>
		<script src="scripts/app.ui.form.ctrls.js"></script>
		<script src="scripts/app.ui.form.directives.js"></script>
		<script src="scripts/app.ui.services.js"></script>
		<script src="scripts/app.ui.ctrls.js"></script>
		<script src="scripts/app.ui.directives.js"></script>
		<script src="scripts/app.ui.map.js"></script>
		<script src="scripts/dash/app.dashboard.js"></script>
		<script src="scripts/login/app.login.js"></script>
		<script src="scripts/form/app.form.validation.js"></script>
		<script src="scripts/form/app.form.personal.js"></script>
		<script src="scripts/form/app.form.emmergency.js"></script>
		<script src="scripts/form/app.form.dependents.js"></script>
		<script src="scripts/form/app.form.immigrations.js"></script>
		<script src="scripts/form/app.form.report.js"></script>
		<script src="scripts/form/app.form.qualification.js"></script>
		<script src="scripts/form/app.form.job.js"></script>
		<script src="scripts/tables/app.tables.js"></script>
		<script src="scripts/tables/app.tables.skill.js"></script>
		<script src="scripts/tables/app.tables.national.js"></script>
		<script src="scripts/tables/app.tables.config.js"></script>
		<script src="scripts/tables/app.tables.pim.js"></script>
		<script src="scripts/tables/app.tables.empList.js"></script>
		<script src="scripts/tables/app.tables.job.js"></script>
		
		<!-- Script Calendar-->
		<script src="scripts/cal/moment.js"></script>
		<script src="scripts/cal/fullcalendar.js"></script>
		<script src="scripts/cal/gcal.js"></script>
		<script src="scripts/cal/calendar.js"></script>
		<script src="scripts/cal/calendarDemo.js"></script>
		
		
        <script src="scripts/app.js"></script>

        
    </body>
</html>